{% extends 'base.html.twig' %}
{% block title %}Affichage des Listes Eleves{% endblock %}

{% block body %}


    {{ include('menuprofesseur.html.twig') }}

<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>Liste des Elèves</span></h2>
                    <h4>
                        <span class="icon-plus"></span>
                        <a href="{{ path('ajouteleve') }}">Ajouter</a>
                    </h4>
                    <table class="table">
                        <thead>
                        <tr class="table table-bordered">
                            <th class="table table-bordered">Nom&Prénom</th>
                            <th class="table table-bordered">Classe</th>
                            <th class="table table-bordered">Année scolaire</th>
                            <th class="table table-bordered">Identifiant</th>
                            <th class="table table-bordered">Mot de passe</th>
                            <th class="table table-bordered">Gestion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in eleve %}
                            <tr class="table table-bordered">
                                <td class="table table-bordered">{{ i.nomEleve }} {{ i.prenomEleve }}</td>
                                <td class="table table-bordered">{{ i.classeEleve }}</td>
                                <td class="table table-bordered">{{ i.anneeScolaire }}</td>
                                <td class="table table-bordered">{{ i.login }}</td>
                                <td class="table table-bordered">{{ i.password }}</td>
                                <td>
                                    <a href="{{ path('modifiereleve', {'id': i.id}) }}"><span class="icon-edit">Modifier</span></a>
                                    <a href="{{ path('supprimereleve', {'id': i.id}) }}"><span class="icon-eraser">Supprimer</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% endblock %}