{% extends 'base.html.twig' %}
{% block title %}Affichage des Elèves{% endblock %}

{% block body %}


    {{ include('menueleve.html.twig') }}

    <section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
    <div class="container">
    <div class="row">
    <div class="col-md-12 section-heading text-center">
    <h2 class="to-animate"><span>Liste des stages</span></h2>


    <select name="stagee" id="stagee">

        {% for i in stagee %}
            <option value="{{ i.nomEntreprise }} ({{ i.villeEntreprise }})">{{ i.nomEntreprise }} ({{ i.villeEntreprise }})</option>
        {% endfor %}

    </select>

{% endblock %}