{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    {{ include('menuprofesseur.html.twig') }}

<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>Liste des Professeurs</span></h2>
                    <table class="table">
                        <thead>
                        <tr class="table table-bordered">
                            <th class="table table-bordered">Nom</th>
                            <th class="table table-bordered">Login</th>
                            <th class="table table-bordered">Mot de passe</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in professeur %}
                            <tr class="table table-bordered">
                                <td class="table table-bordered">{{ i.nomProf }} {{ i.prenomProf }}</td>
                                <td class="table table-bordered">{{ i.login }}</td>
                                <td class="table table-bordered">{{ i.password }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
