{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}



    <section id="fh5co-home" data-section="home" style="background-image: url({{ asset('images/accueil.jpg') }});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Recherche de Stage Collège les<span> Capucins</span></h1>
                            <h2 class="to-animate">Selectionnez votre mode d'authentification</h2>
                            <div class="call-to-action">
                                    <a href="{{ path('eleve') }}" class="demo to-animate"><i class="icon-user"></i>Elève</a>
                                <a href="{{ path('professeur') }}" class="download to-animate"><i class="icon-user-secret"></i>Professeur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}