{% extends 'base.html.twig' %}
{% block title %}Affichage des Entreprises{% endblock %}

{% block body %}


    {{ include('menuprofesseur.html.twig') }}

    <section id="fh5co-services" data-section="services">
        <div class="fh5co-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate"><span>Bienvenue</span></h2>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}