{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    {{ include('menuprofesseur.html.twig') }}


    <section id="fh5co-home" data-section="home" style="background-image: url({{ asset('images/accueil.jpg') }});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate"><span>Nos Effectifs</span></h1>
                            <h2 class="to-animate">Selectionnez votre liste</h2>
                            <div class="call-to-action">
                                <a href="{{ path('listeleve') }}" class="demo to-animate"><i class="icon-user"></i>Liste des Elèves</a>
                                <a href="{{ path('listeprof') }}" class="download to-animate"><i class="icon-user-secret"></i>Liste des Professeurs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}